<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova_permission_control" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova_permission_control</name>
    <description>Control the permissions that are set by other plugins</description>
    <license>MIT</license>
    <keywords>cordova,permissions,permission control</keywords>
    <repo>https://github.com/Binarypark/cordoava_permission_control.git</repo>
    <issue>https://github.com/Binarypark/cordova_permission_control/issues</issue>

    <hook type="after_plugin_add" src="hooks/after_plugin_add/permissionControl.js" />
		<hook type="before_plugin_add" src="hooks/before_plugin_add/backupPluginNames.js" />

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

		<info>
			This plugin depends on 'inquirer'. Don't forget to install it as well.
			npm install inquierer
		</info>
</plugin>
